pipeline/IncrementalDataCopy.json
{
	"name": "IncrementalDataCopy",
	"properties": {
		"description": "IncrementalDataCopy",
		"activities": [
			{
				"name": "LookupOldWaterMarkActivity",
				"description": "LookupOldWaterMarkActivity",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"dataset": {
						"referenceName": "watermarktableTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupSourceTable",
				"description": "LookupSourceTable",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select max(LastModifiedtime) as watermarkvalue from data_source_table"
					},
					"dataset": {
						"referenceName": "IncrementalSourcelookup",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncrementalCopyActivity",
				"description": "IncrementalCopyActivity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupSourceTable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupOldWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select * from data_source_table where LastModifytime > '@{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue}' and LastModifytime <= '@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}'"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "IncrementalSourcelookup",
						"type": "DatasetReference"
					}
				]
			}
		]
	}
}